@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg-gradient-custom {
  background-image: linear-gradient(to top, #f6e0d4, #ef8d84);
}


html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #c8c8c8;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 200ms ease-out;
}